<a href="https://colab.research.google.com/github/anotidamalandu/BP_public/blob/main/Assesment2version2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
!wget -O enron.db https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1

--2022-05-26 23:10:51--  https://curtin-my.sharepoint.com/:u:/g/personal/211934g_curtin_edu_au/EaYagsqa2r1Bi5wtHbswGFwBH2kd2uTnz6rlka7GI36GUQ?download=1
Resolving curtin-my.sharepoint.com (curtin-my.sharepoint.com)... 13.107.136.9, 13.107.138.9
Connecting to curtin-my.sharepoint.com (curtin-my.sharepoint.com)|13.107.136.9|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /personal/211934g_curtin_edu_au/Documents/ISYS2001-Assignment-2-Data/enron_sqlite3.db?ga=1 [following]
--2022-05-26 23:10:53--  https://curtin-my.sharepoint.com/personal/211934g_curtin_edu_au/Documents/ISYS2001-Assignment-2-Data/enron_sqlite3.db?ga=1
Reusing existing connection to curtin-my.sharepoint.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 853819392 (814M) [application/octet-stream]
Saving to: ‘enron.db’

enron.db            100%[===================>] 814.27M  42.8MB/s    in 21s

2022-05-26 23:11:13 (39.7 MB/s) - ‘enron.db’ saved [853819392/853819392]

In [5]:
conn = sqlite3.connect("enron.db")

In [6]:
print(conn.total_changes)

0

In [7]:
cur = conn.cursor()

In [8]:
sql = """
CREATE TABLE IF NOT EXISTS users(
  eid INT,
  firstName TEXT,
  lastName TEXT,
  Email_id INT PRIMARY KEY,
  Email2 TEXT,
  Email3 TEXT,
  Email4 TEXT,
  folder BLOB,
  status TEXT);
"""
cur.execute(sql)
conn.commit()

In [13]:
rows = cursor.execute("SELECT eid, firstName, lastName, Email_id, Email2, Email3,Email4, folder,status FROM employeelist").fetchall()
print(rows)

[(1, 'Robert', 'Badeer', 'robert.badeer@enron.com', 'rbadeer@enron.com', '', '', 'badeer-r', 'Director'), (2, 'Kevin', 'Hyatt', 'kevin.hyatt@enron.com', 'kevin_hyatt@enron.com', 'khyatt@enron.com', '', 'hyatt-k', 'Director'), (3, 'Tracy', 'Geaccone', 'tracy.geaccone@enron.com', 'tracy_geaconne@enron.com', '', '', 'geaccone-t', 'Employee'), (4, 'Teb', 'Lokey', 'teb.lokey@enron.com', 'teb_lokey@enron.com', 'tlokey@enron.com', '', 'lokey-t', 'Manager'), (5, 'Richard', 'Ring', 'richard.ring@enron.com', '', '', '', 'ring-r', 'Employee'), (6, 'Mark', 'Taylor', 'mark.e.taylor@enron.com', 'mark.taylor@enron.com', 'e.taylor@enron.com', '', 'taylor-m', 'Employee'), (7, 'Theresa', 'Staab', 'theresa.staab@enron.com', 'theresa_staab@enron.com', 'tstaab@enron.com', '', 'staab-t', 'Employee'), (8, 'Susan', 'Pereira', 'susan.w.pereira@enron.com', 'w..pereira@enron.com', 'susan.peireira@enron.com', '', 'pereira-s', 'Employee'), (9, 'Stephanie', 'Panus', 'stephanie.panus@enron.com', '', '', '', 'panus-s', 'Employee'), (10, 'Phillip', 'Allen', 'phillip.k.ellen@enron.com', 'phillip.allen@enron.com', 'k..allen@enron.com', '', 'allen-p', 'Manager'), (11, 'Mark', 'Whitt', 'mark.whitt@enron.com', 'mwhitt@enron.com', '', '', 'whitt-m', 'N/A'), (12, 'Paul', 'Lucci', 'paul.lucci@enron.com', 't..lucci@enron.com', 'plucci@enron.com', '', 'lucci-p', 'Employee'), (13, 'Marie', 'Heard', 'marie.heard@enron.com', '', '', '', 'heard-m', None), (14, 'Richard', 'Sanders', 'richard.b.sanders@enron.com', 'b..sanders@enron.com', 'richard.sanders@enron.com', '', 'sanders-r', 'Vice President'), (15, 'Monika', 'Causholli', 'monika.causholli@enron.com', '', '', '', 'causholli-m', 'Employee'), (16, 'Michelle', 'Cash', 'michelle.cash@enron.com', 'mcash@enron.com', 'michelle_cash@enron.com', '', 'cash-m', 'Employee'), (17, 'Mike', 'Grigsby', 'mike.grigsby@enron.com', '', '', '', 'grigsby-m', 'Manager'), (18, 'Lynn', 'Blair', 'lynn.blair@enron.com', 'lynnblair@enron.com', '', '', 'blair-l', 'Director'), (19, 'Lindy', 'Donoho', 'lindy.donoho@enron.com', 'ldonoho@enron.com', '', '', 'donoho-l', 'Employee'), (20, 'Kimberly', 'Watson', 'kimberly.watson@enron.com', '', '', '', 'watson-k', 'N/A'), (21, 'Keith', 'Holst', 'keith.holst@enron.com', 'kholst@enron.com', '', '', 'holst-k', 'Director'), (22, 'Joe', 'Quenet', 'joe.quenet@enron.com', 'jquenet@enron.com', '', '', 'quenet-j', 'Trader'), (23, 'James', 'Steffes', 'james.d.steffes@enron.com', 'd..steffes@enron.com', 'james.steffes@enron.com', '', 'steffes-j', 'Vice President'), (24, 'John', 'Forney', 'm..forney@enron.com', 'john.forney@enron.com', '', '', 'forney-j', 'Manager'), (25, 'Jay', 'Reitmeyer', 'jay.reitmeyer@enron.com', '', '', '', 'reitmeyer-j', 'Employee'), (26, 'Frank', 'Ermis', 'frank.ermis@enron.com', 'fermis@enron.com', '', '', 'ermis-f', 'Director'), (27, 'Elizabeth', 'Sager', 'elizabeth.sager@enron.com', 'esager@enron.com', '', '', 'sager-e', 'Employee'), (28, 'Darrell', 'Schoolcraft', 'darrell.schoolcraft@enron.com', '', '', '', 'schoolcraft-d', 'N/A'), (29, 'Danny', 'McCarty', 'danny.mccarty@enron.com', '', '', '', 'mccarty-d', 'Vice President'), (30, 'Bill', 'Rapp', 'bill.rapp@enron.com', 'brapp@enron.com', '', '', 'rapp-b', 'N/A'), (31, 'Benjamin', 'Rogers', 'benjamin.rogers@enron.com', '', '', '', 'rogers-b', 'Employee'), (32, 'Shelley', 'Corman', 'shelley.corman@enron.com', 'scorman@enron.com', 'shelley_corman@enron.com', '', 'corman-s', 'Vice President'), (33, 'Kim', 'Ward', 'kim.ward@enron.com', 'kward@enron.com', '', '', 'ward-k', 'N/A'), (34, 'Juan', 'Hernandez', 'juan.hernandez@enron.com', '', '', '', 'hernandez-j', 'Employee'), (35, 'Joe', 'Stepenovitch', 'joe.stepenovitch@enron.com', 'joe_stepenovitch@enron.com', '', '', 'stepenovitch-j', 'Vice President'), (36, 'Jeffrey', 'Shankman', 'jeffrey.a.shankman@enron.com', 'a..shankman@enron.com', 'jeffrey.shankman@enron.com', '', 'shankman-j', 'President'), (37, 'Jane', 'Tholt', 'jane.tholt@enron.com', 'jane.m.tholt@enron.com', 'm..tholt@enron.com', '', 'tholt-j', 'Vice President'), (38, 'Barry', 'Tycholiz', 'barry.tycholiz@enron.com', '', '', '', 'tycholiz-b', 'Vice President'), (39, 'Dana', 'Davis', 'dana.davis@enron.com', 'd..davis@enron.com', 'dana_davis@enron.com', '', 'davis-d', 'Vice President'), (40, 'Tori', 'Kuykendall', 'tori.kuykendall@enron.com', '', '', '', 'kuykendall-t', 'Trader'), (41, 'Randall', 'Gay', 'l..gay@enron.com', 'randall.gay@enron.com', 'randall.l.gay@enron.com', '', 'gay-r', 'Employee'), (42, 'Martin', 'Cuilla', 'martin.cuilla@enron.com', 'mcuilla@enron.com', 'martin_cuilla@enron.com', '', 'cuilla-m', 'Manager'), (43, 'Larry', 'Campbell', 'larry.f.campbell@enron.com', 'larry.campbell@enron.com', 'f..campbell@enron.com', '', 'campbell-l', 'Employee'), (44, 'John', 'Arnold', 'john.arnold@enron.com', '', '', '', 'arnold-j', 'Manager'), (45, 'Harry', 'Arora', 'harry.arora@enron.com', 'harora@enron.com', '', '', 'arora-h', 'Vice President'), (46, 'David', 'Delainey', 'david.w.delainey@enron.com', 'david.delainey@enron.com', 'w..delainey@enron.com', '', 'delainey-d', 'CEO'), (47, 'Brad', 'Mckay', 'brad.mckay@enron.com', 'bmckay@enron.com', '', '', 'mckay-b', 'Employee'), (48, 'Tana', 'Jones', 'tana.jones@enron.com', 'tana_jones@enron.com', '', '', 'jones-t', 'N/A'), (49, 'Susan', 'Scott', 'susan.scott@enron.com', 'm..scott@enron.com', 'susan.m.scott@enron.com', '', 'scott-s', 'N/A'), (50, 'Susan', 'Bailey', 'susan.bailey@enron.com', '', '', '', 'bailey-s', 'N/A'), (51, 'Steven', 'Kean', 'steven.j.kean@enron.com', 'steven.kean@enron.com', 'skean@enron.com', 'j..kean@enron.com', 'kean-s', 'Vice President'), (52, 'Kay', 'Mann', 'kay.mann@enron.com', '', '', '', 'mann-k', 'Employee'), (53, 'John', 'Lavorato', 'lavorato@enron.com', 'john.j.lavorato@enron.com', 'j..lavorato@enron.com', '', 'lavorato-j', 'CEO'), (54, 'Greg', 'Whalley', 'greg.whalley@enron.com', 'gwhalley@enron.com', '', '', 'whalley-g', 'President'), (55, 'Paul', 'Barbo', 'paul.y barbo@enron.com', 'barbo@enron.com', 'pybarbo@enron.com', '', 'ybarbo-p', 'Trader'), (56, 'Jason', 'Wolfe', 'jason.wolfe@enron.com', '', '', '', 'wolfe-j', 'N/A'), (57, 'Jason', 'Williams', 'jason.williams@enron.com', 'jason.r.williams@enron.com', '', '', 'williams-j', 'Vice President'), (58, 'Jim', 'Schwieger', 'jim.schwieger@enron.com', '', '', '', 'schwieger-j', 'Trader'), (59, 'Monique', 'Sanchez', 'monique.sanchez@enron.com', '', '', '', 'sanchez-m', 'N/A'), (60, 'Kevin', 'Ruscitti', 'kevin.ruscitti@enron.com', '', '', '', 'ruscitti-k', 'Trader'), (61, 'Matthew', 'Lenhart', 'matthew.lenhart@enron.com', 'mlenhart@enron.com', '', '', 'lenhart-m', 'Employee'), (62, 'Peter', 'Keavey', 'peter.keavey@enron.com', 'f..keavey@enron.com', 'pkeavey@enron.com', 'peter.f.keavey@enron.com', 'keavey-p', 'Employee'), (63, 'Scott', 'Hendrickson', 'scott.hendrickson@enron.com', 'scott . hendrikcson@enron.com', '', '', 'hendrickson-s', 'N/A'), (64, 'Tom', 'Donohoe', 'tom.donohoe@enron.com', '', '', '', 'donohoe-t', 'Employee'), (65, 'Mark', 'Haedicke', 'e..haedicke@enron.com', 'mark.haedicke@enron.com', 'mark.e.haedicke@enron.com', '', 'haedicke-m', 'Managing Director'), (66, 'Stanley', 'Horton', 'stanley.horton@enron.com', 'stanley_horton@enron.com', '', '', 'horton-s', 'President'), (67, 'Sara', 'Shackleton', 'sara.shackleton@enron.com', 'sara_shackleton@enron.com', '', '', 'shackleton-s', 'N/A'), (68, 'Rod', 'Hayslett', 'rod.hayslett@enron.com', 'rod_hayslett@enron.com', '', '', 'hayslett-r', 'Vice President'), (69, 'Richard', 'Shapiro', 'richard.shapiro@enron.com', '', '', '', 'shapiro-r', 'Vice President'), (70, 'Michelle', 'Lokay', 'michelle.lokay@enron.com', 'michele.lokay@enron.com', 'mlokay@enron.com', '', 'lokay-m', 'Employee'), (71, 'Matt', 'Smith', 'matt.smith@enron.com', 'matthew.smith?@enron.com', '', '', 'smith-m', 'N/A'), (72, 'Mark', 'McConnell', 'mark.mcconnell@enron.com', 'mark_mcconnell@enron.com', '', '', 'mcconnell-m', 'N/A'), (73, 'Jeff', 'Dasovich', 'jeff.dasovich@enron.com', 'jeff_dasovich@enron.com', 'jeffdasovich@enron.com', '', 'dasovich-j', 'Employee'), (74, 'James', 'Derrick', 'james.derrick@enron.com', 'james_derrick@enron.com', '', '', 'derrick-j', 'In House Lawyer'), (75, 'Gerald', 'Nemec', 'gerald.nemec@enron.com', 'gnemec@enron.com', '', '', 'nemec-g', 'N/A'), (76, 'Debra', 'Perlingiere', 'debra.perlingiere@enron.com', '', '', '', 'perlingiere-d', 'Employee'), (77, 'John', 'Zufferli', 'john.zufferli@enron.com', '', '', '', 'zufferli-j', 'Vice President'), (78, 'Andy', 'Zipper', 'andy.zipper@enron.com', 'azipper@enron.com', '', '', 'zipper-a', 'Vice President'), (79, 'Stacey', 'White', 'stacey.w.white@enron.com', 'w..white@enron.com', 'stacey.white@enron.com', '', 'white-s', 'N/A'), (80, 'Charles', 'Weldon', 'charles.weldon@enron.com', 'v.charles.weldon@enron.com', 'v.weldon@enron.com', '', 'weldon-c', 'N/A'), (81, 'Judy', 'Townsend', 'judy.townsend@enron.com', '', '', '', 'townsend-j', 'Employee'), (82, 'Paul', 'Thomas', 'paul.d.thomas@enron.com', 'd..thomas@enron.com', 'paul.thomas@enron.com', '', 'thomas-p', 'N/A'), (83, 'Fletcher', 'Sturm', 'fletcher.j.sturm@enron.com', 'j..sturm@enron.com', 'fletcher.sturm@enron.com', '', 'sturm-f', 'Vice President'), (84, 'Geoff', 'Storey', 'geoff.storey@enron.com', 'gstorey@enron.com', '', '', 'storey-g', 'Director'), (85, 'Geir', 'Solberg', 'geir.solberg@enron.com', 'gsolberg@enron.com', '', '', 'solberg-g', 'Employee'), (86, 'Cara', 'Semperger', 'cara.semperger@enron.com', '', '', '', 'semperger-c', 'Employee'), (87, 'Holden', 'Salisbury', 'holden.salisbury@enron.com', '', '', '', 'salisbury-h', 'Employee'), (88, 'Eric', 'Saibi', 'eric.saibi@enron.com', 'esaibi@enron.com', '', '', 'saibi-e', 'Trader'), (89, 'Andrea', 'Ring', 'andrea.ring@enron.com', '', '', '', 'ring-a', 'N/A'), (90, 'Cooper', 'Richey', 'cooper.richey@enron.com', 'crichey@enron.com', '', '', 'richey-c', 'Manager'), (91, 'Dutch', 'Quigley', 'dutch.quigley@enron.com', '', '', '', 'quigley-d', 'Trader'), (92, 'Kevin', 'Presto', 'kevin.m.presto@enron.com', 'm..presto@enron.com', 'kevin.presto@enron.com', '', 'presto-k', 'Vice President'), (93, 'Phillip', 'Platter', 'phillip.platter@enron.com', '', '', '', 'platter-p', 'Employee'), (94, 'Vladi', 'Pimenov', 'vladi.pimenov@enron.com', 'vpimenov@enron.com', '', '', 'pimenov-v', 'N/A'), (95, 'Joe', 'Parks', 'joe.parks@enron.com', '', '', '', 'parks-j', 'N/A'), (96, 'Scott', 'Neal', 'scott.neal@enron.com', '', '', '', 'neal-s', 'Vice President'), (97, 'Matt', 'Motley', 'matt.motley@enron.com', 'mmotley@enron.com', '', '', 'motley-m', 'Director'), (98, 'Patrice', 'Mims', 'patrice.l.mims@enron.com', 'l..mims@enron.com', 'partice.mims@enron.com', '', 'mims-thurston-p', 'N/A'), (99, 'Albert', 'Meyers', 'albert.meyers@enron.com', '', '', '', 'meyers-a', 'Employee'), (100, 'Errol', 'McLaughlin', 'errol.mclaughlin@enron.com', '', '', '', 'mclaughlin-e', 'Employee'), (101, 'Jonathan', 'Mckay', 'jonathan.mckay@enron.com', '', '', '', 'mckay-j', 'Director'), (102, 'Larry', 'May', 'larry.may@enron.com', '', '', '', 'may-l', 'Director'), (103, 'Thomas', 'Martin', 'thomas.a.martin@enron.com', 'thomas.martin@enron.com', 'a..martin@enron.com', '', 'martin-t', 'Vice President'), (104, 'Mike', 'Maggi', 'mike.maggi@enron.com', 'mmaggi@enron.com', '', '', 'maggi-m', 'Director'), (105, 'Phillip', 'Love', 'phillip.m.love@enron.com', 'm..love@enron.com', 'phillip.love@enron.com', '', 'love-p', 'N/A'), (106, 'Andrew', 'Lewis', 'h..lewis@enron.com', 'andrew.lewis@enron.com', 'andrew.h.lewis@enron.com', '', 'lewis-a', 'Director'), (107, 'Louise', 'Kitchen', 'louise.kitchen@enron.com', 'lkitchen@enron.com', '', '', 'kitchen-l', 'President'), (108, 'Jeff', 'King', 'jeff.king@enron.com', '', '', '', 'king-j', 'Manager'), (109, 'Vince', 'Kaminski', 'j.kaminski@enron.com', 'vince.kaminski@enron.com', 'kaminski@enron.com', '', 'kaminski-v', 'Manager'), (110, 'John', 'Hodge', 'john.hodge@enron.com', '', '', '', 'hodge-j', 'Managing Director'), (111, 'John', 'Griffith', 'john.griffith@enron.com', '', '', '', 'griffith-j', 'Manager'), (112, 'Darron', 'Giron', 'c..giron@enron.com', 'darron.giron@enron.com', 'darron.c.giron@enron.com', '', 'giron-d', 'Employee'), (113, 'Doug', 'Gilbert-smith', 'doug.gilbert-smith@enron.com', 'gilbert-smith@enron.com', '', '', 'gilbertsmith-d', 'Employee'), (114, 'Chris', 'Germany', 'chris.germany@enron.com', 'chris_germany@enron.com', 'c.germany@enron.com', '', 'germany-c', 'Employee'), (115, 'Lisa', 'Gang', 'lisa.gang@enron.com', '', '', '', 'gang-l', 'N/A'), (116, 'Mary', 'Fischer', 'mary.fischer@enron.com', '', '', '', 'fischer-m', 'Employee'), (117, 'Daren', 'Farmer', 'daren.j.farmer@enron.com', 'daren.farmer@enron.com', 'j..farmer@enron.com', '', 'farmer-d', 'Manager'), (118, 'Chris', 'Dorland', 'chris.dorland@enron.com', '', '', '', 'dorland-c', 'Manager'), (119, 'Mike', 'Carson', 'mike.carson@enron.com', 'mcarson@enron.com', '', '', 'carson-m', 'Manager'), (120, 'Sandra', 'Brawner', 'sandra.f.brawner@enron.com', 'sandra.brawner@enron.com', 'f..brawner@enron.com', '', 'brawner-s', 'Director'), (121, 'Robert', 'Benson', 'robert.benson@enron.com', 'r.benson@enron.com', 'rbenson@enron.com', '', 'benson-r', 'Director'), (122, 'Sally', 'Beck', 'sally.beck@enron.com', 'sally_beck@enron.com', '', '', 'beck-s', 'Employee'), (123, 'Rick', 'Buy', 'rick.buy@enron.com', '', '', '', 'buy-r', 'Manager'), (124, 'Don', 'Baughman', 'don.baughman@enron.com', 'd..baughman.com', 'don_baughman@enron.com', '', 'baughman-d', 'Trader'), (125, 'Eric', 'Bass', 'eric.bass@enron.com', 'ebass@enron.com', '', '', 'bass-e', 'Trader'), (126, 'Hunter', 'Shively', 'hunter.s.shively@enron.com', 's..shively@enron.com', 'hunter.shively@enron.com', '', 'shively-h', 'Vice President'), (127, 'Kenneth', 'Lay', 'kenneth.lay@enron.com', 'kenneth_lay@enron.com', '', '', 'lay-k', 'CEO'), (128, 'Kam', 'Keiser', 'kam.keiser@enron.com', 'kkeiser@enron.com', '', '', 'keiser-k', 'Employee'), (129, 'Jeffrey', 'Skilling', 'jeff.skilling@enron.com', 'jeffrey.skilling@enron.com', '', '', 'skilling-j', 'CEO'), (130, 'Sean', 'Crandall', 'sean.crandall@enron.com', 'scrandall@enron.com', '', '', 'crandell-s', 'Director'), (131, 'Ryan', 'Slinger', 'ryan.slinger@enron.com', '', '', '', 'slinger-r', 'Trader'), (132, 'Mike', 'Swerzbin', 'mike.swerzbin@enron.com', '', '', '', 'swerzbin-m', 'Trader'), (133, 'Diana', 'Scholtes', 'diana.scholtes@enron.com', '', '', '', 'scholtes-d', 'Trader'), (134, 'Craig', 'Dean', 'craig.dean@enron.com', '', '', '', 'dean-c', 'Trader'), (135, 'Bill', 'Williams', 'bill.williams@enron.com', '', '', '', 'williams-w3', 'N/A'), (136, 'Stacy', 'Dickson', 'stacy.dickson@enron.com', 'e..dickson@enron.com', 'stacy.e.dickson@enron.com', '', 'dickson-s', 'Employee'), (137, 'Drew', 'Fossum', 'drew.fossum@enron.com', 'drew_fossum@enron.com', '', '', 'fossum-d', 'Vice President'), (138, 'Mark', 'Guzman', 'mark.guzman@enron.com', '', '', '', 'guzman-m', 'Managing Director'), (139, 'Mary', 'Hain', 'mary.hain@enron.com', 'mhain@enron.com', 'mary_hain@enron.com', '', 'hain-m', 'N/A'), (141, 'Steven', 'Harris', 'steven.harris@enron.com', '', '', '', 'harris-s', 'Vice President'), (142, 'Dan', 'Hyvl', 'dan.hyvl@enron.com', 'dan.j.hyvl@enron.com', 'dhyvl@enron.com', '', 'hyvl-d', 'Employee'), (143, 'Eric', 'Linder', 'eric.linder@enron.com', 'eric_linder@enron.com', '', '', 'linder-e', 'Employee'), (144, 'Steven', 'Merris', 'steven.merris@enron.com', 'steven.merriss@enron.com', '', '', 'merriss-s', 'N/A'), (145, 'Robin', 'Rodrigue', 'robin.rodrigue@enron.com', '', '', '', 'rodrique-r', 'N/A'), (146, 'Steven', 'South', 'steven.p.south@enron.com', 'steven.south@enron.com', 'p..south@enron.com', '', 'south-s', 'N/A'), (147, 'Carol', 'Clair', 'carol.clair@enron.com', 'carol.st.clair@enron.com', 'carol.stclair@enron.com', '', 'stclair-c', 'Vice President'), (148, 'Chris', 'Stokley', 'chris.stokley@enron.com', '', '', '', 'stokley-c', 'N/A'), (149, 'Kate', 'Symes', 'kate.symes@enron.com', 'ksymes@enron.com', '', '', 'symes-k', 'Employee'), (150, 'Liz', 'Taylor', 'liz.taylor@enron.com', 'liz.m.taylor@enron.com', 'm..taylor@enron.com', '', 'whalley-l', 'N/A')]

In [9]:
sql = """
CREATE TABLE IF NOT EXISTS users(
  mid INT PRIMARY KEY,
  sender TEXT,
  date INT,
  message_id INT,
  subject TEXT,
  body TEXT);
"""
cur.execute(sql)
conn.commit()

In [10]:
sql = """
CREATE TABLE IF NOT EXISTS user(
  rid INT PRIMARY KEY, 
  mid INT,
  rtype TEXT);
"""
cur.execute(sql)
conn.commit()

In [11]:
sql = """
CREATE TABLE IF NOT EXISTS user(
  rfid INT PRIMARY KEY, 
  mid INT);
"""
cur.execute(sql)
conn.commit()

In [ ]:
cursor = connection.cursor()
cursor.execute("CREATE TABLE employeelist (name TEXT, species TEXT, tank_number INTEGER)")

In [14]:
import pandas as pd

sql='''
SELECT * from employeelist;
'''
# Load the data into a DataFrame
users_df = pd.read_sql_query(sql,conn)
users_df

,eid,firstName,lastName,Email_id,Email2,Email3,EMail4,folder,status
0,1,Robert,Badeer,robert.badeer@enron.com,rbadeer@enron.com,,,badeer-r,Director
1,2,Kevin,Hyatt,kevin.hyatt@enron.com,kevin_hyatt@enron.com,khyatt@enron.com,,hyatt-k,Director
2,3,Tracy,Geaccone,tracy.geaccone@enron.com,tracy_geaconne@enron.com,,,geaccone-t,Employee
3,4,Teb,Lokey,teb.lokey@enron.com,teb_lokey@enron.com,tlokey@enron.com,,lokey-t,Manager
4,5,Richard,Ring,richard.ring@enron.com,,,,ring-r,Employee
...,...,...,...,...,...,...,...,...,...
144,146,Steven,South,steven.p.south@enron.com,steven.south@enron.com,p..south@enron.com,,south-s,N/A
145,147,Carol,Clair,carol.clair@enron.com,carol.st.clair@enron.com,carol.stclair@enron.com,,stclair-c,Vice President
146,148,Chris,Stokley,chris.stokley@enron.com,,,,stokley-c,N/A
147,149,Kate,Symes,kate.symes@enron.com,ksymes@enron.com,,,symes-k,Employee
148,150,Liz,Taylor,liz.taylor@enron.com,liz.m.taylor@enron.com,m..taylor@enron.com,,whalley-l,N/A